body {
    background-image: url('dark-bg.png');
    background-repeat: repeat;
    background-color: hsl(0, 0%, 12%);
    margin: 0;
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

#welcome-head {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0; 
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Cinzel', serif;
}

#content-container { 
    #markdown-label {
        color: white;
    }
    background-color: rgba(0, 0, 0, 0.8); 
    max-width: 1200px; 
    width: calc(100% - 40px);
    margin: 20px auto 15px auto; 
    padding: 30px; 
    border-radius: 12px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

#raw-output{
    #raw-label{
        color: white;
    }
    
    background-color: rgba(0, 0, 0, 0.8); 
    max-width: 1200px; 
    width: calc(100% - 40px);
    margin: 20px auto 15px auto; 
    padding: 30px; 
    border-radius: 12px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

#html-output{
    #html-view-label{
        color: white;
    }
    background-color: rgba(0, 0, 0, 0.8); 
    max-width: 1200px; 
    width: calc(100% - 40px);
    margin: 20px auto 15px auto; 
    padding: 30px; 
    border-radius: 12px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    align-items: flex-start;
    gap: 30px;
}